<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/project.css" type="text/css" />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon.png"
      sizes="32x32"
    />
    <title>Addison Moore</title>
  </head>
  <body>
    <header id="learnify-hero" class="hero"></header>
    <h1 class="title" id="title-learnify">Learnify</h1>
    <main>
      <section class="main-section">
        <h3 class="section-title">Summary</h3>
        <div class="section-body">
          <div>
            <p>
              Learnify was built over the course of a week as an excercise in
              Django and Python for the Web Developement Immersive at General
              Assembly.
            </p>
            <p>
              Users can create a profile, create courses and upload course
              videos. Users can also purchase courses using the Stripe API for
              payments.
            </p>
            <p>
              This site is currently hosted on Heroku, (as per the requirements
              for the assignment). Uploded photos and videos will only remain on
              the site for an hour.
            </p>
            <a class="button-link" href="https://learnifyly.herokuapp.com/"
              >Visit the website →</a
            >
          </div>
        </div>
      </section>
      <section>
        <h3 class="section-title">Stack</h3>
        <div class="section-body">
          <ul>
            <li>Python</li>
            <li>Django</li>
            <li>PostgreSQL</li>
          </ul>
          <ul>
            <li>Stripe</li>
            <li>Pillow</li>
            <li>Heroku</li>
          </ul>
        </div>
      </section>
      <section>
        <h3 class="section-title">Github</h3>
        <a class="link" href="https://github.com/addison912/learnify.ly"
          ><span>Learnify</span><img class="pdf" src="../assets/github.png"
        /></a>
      </section>
      <section class="left">
        <a class="button-link" href="/">Back to Portfolio →</a>
      </section>
    </main>
    <footer>
      <div class="social-links">
        <span
          ><a href="https://github.com/addison912"
            ><img class="social-icon" src="../assets/github.svg"/></a
        ></span>
        <span
          ><a href="https://www.linkedin.com/in/addison-moore/"
            ><img class="social-icon" src="../assets/linkedin.svg"/></a
        ></span>
      </div>
      <p>&copy; Addison Moore 2019</p>
    </footer>
    <script type="text/javascript">
      (function() {
          var qtm = document.createElement('script'); qtm.type = 'text/javascript'; qtm.async = 1;
          qtm.src = 'https://cdn.quantummetric.com/qscripts/quantum-qmaddison.js';
          var d = document.getElementsByTagName('script')[0];
          !window.QuantumMetricAPI && d.parentNode.insertBefore(qtm, d);
      })();
      </script>
  </body>
</html>
